.body {
  position: relative;
}
.tale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
}
.bgLayer {
  height: 100%;
  background-color: black;
}
.textLayer {
  padding: 30px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  height: 200px;
  background-color: white;
}

.clickLayer {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
